::-webkit-scrollbar {
    display: none;
  }
  body{
    margin: 0;
  
  }
  .logo-a{
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
    color: #FF6686;
  }
  header .head{
    display: flex;
    justify-content: space-between;
  }
  header .logo{
    padding-top: 20px;
    display: flex;
    text-align: center;
    padding: 8px 20px;
  }
  header .menus{
    padding-top: 13px;
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
  }
  .menus li{
    padding: 0px 10px;
  }
  .ins{
    padding-right: 50px;
  }
  img{
    width: 44px;
    height: 44px;
  }
  .margin {
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
}
  .title {
    font-weight: 700;
    font-size: 2.5em;
    line-height: 22mm;
    margin-bottom: 2%;
    margin-left: 3.5%;
}
  
  #title_hr {
    width: 96%;
    height: 3px;
    border-bottom: 0px;
    border-top: 0px;
    margin-bottom: 5%;
    margin-left: 3%;
    background-color: #FF6686;
}

  .margin img {
    position: absolute;
    width: 20vw;
    height: 20vw;
    margin-top: 1%;
    margin-left: 3%;
}

  .box {
    min-width: 360px;

    margin-top: 3%;
    margin-left: 50%;
    margin-right: 5%;
    margin-bottom: 3%;

    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 3%;

    height: 530px;

    box-shadow: 2px 8px 10px #d5d8e0;
    
    border-radius: 10px;
  }

  .box .subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #8B8B8B;
  }

  .box .summary {
    margin-top: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;

    color: #000000;
  }

  .box #contents_hr {
    height: 3px;

    margin-top: 10px;

    background-color: #FF6686;
  }

  .box .contents{
    min-width: 300px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 139%;

  color: #0F0F0F;
  }


