.main {
    width: 100vh;
    position: absolute;
    left: 12%;
    top: -7%;
}
.main .navtitle{
    position: absolute;
    width: 170px;
    height: 49px;
    left: 228px;
    top: 348px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;

    color: #000000;
}

.main hr {
    position: absolute;
    width: 991px;
    height: 0px;
    left: 225px;
    top: 415px;
    
    border: 3px solid #FF6686;    
}

.main .wrap {
    position: absolute;
    width: 100%;
    top: 552px;
    left: 222px;
}

.main .wrap article{
    width: 280px;
	float: left;
	margin-right: 67px;
    margin-bottom: 67px;
}

.main .wrap article .pic {
    width: 297px;
	height: 201px;
	background: #333;
	margin-bottom: 15px;
	position: relative;
	overflow: hidden;
}