body{
  margin: 0;
}
.logo-a{
  text-decoration: none;
  font-size: 50px;
  font-weight: bold;
  color: #FF6686;
}
header .head{
  display: flex;
  justify-content: space-between;
}
header .logo{
  padding-top: 20px;
  display: flex;
  text-align: center;
  padding: 8px 20px;
}
header .menus{
  padding-top: 13px;
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 0;
}
.menus li{
  padding: 0px 10px;
}
.ins{
  padding-right: 50px;
}
img{
  width: 44px;
  height: 44px;
}
.main{
  margin-top: 30px;
  position: relative;
  float: left;
}
.main img{
  width: 100%;
  height: auto;
}
center{
  text-align: center;
}
.title{
  position: absolute;
  width: 50%;
  height: auto;
  top: 25%;
  left: 50%;
  margin-left: -25%;
}
.title .apply{
  width: 26%;
  height:50px;
  border: solid 3px black;
  border-radius: 100px;
  margin-top: 4.5%;
}