::-webkit-scrollbar {
  display: none;
}
body{
  margin: 0;

}
.main{
  position: relative;
  float: left;
}
.main img{
  width: 100%;
  height: auto;
}
center{
  text-align: center;
}
.title{
  position: absolute;
  width: 50%;
  height: auto;
  top: 25%;
  left: 50%;
  margin-left: -25%;
}