::-webkit-scrollbar {
    display: none;
  }
  .logo-a{
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
    color: #FF6686;
  }
  header .head{
    display: flex;
    justify-content: space-between;
  }
  header .logo{
    padding-top: 20px;
    display: flex;
    text-align: center;
    padding: 8px 20px;
  }
  header .menus{
    padding-top: 13px;
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
  }
  .menus li{
    padding: 0px 10px;
  }
  .ins{
    padding-right: 50px;
  }
  img{
    width: 44px;
    height: 44px;
  }
  .titles {
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
}
  .title {
    font-weight: 700;
    font-size: 2.5em;
    line-height: 22mm;
    margin-bottom: 2%;
}
.introduction {
  font-weight: 500;
  font-size: 1.2rem;
}
#title_hr {
    width: 107%;
    height: 3px;
    border-bottom: 0px;
    border-top: 0px;
    margin-bottom: 5%;
    background-color: #FF6686;
}
/* .member {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 0;
  font-size: 1.2em;
  font-weight: 700;
  float: left;
} */
/* main {
  margin: 100px 32px 44px;
  display: flex; 
  justify-content: center;
  column-gap: 30px; 
  row-gap: 40px; 
  flex-wrap: wrap; 
}
.card-1 {
  background-color: #f3f3f3;
  border-radius: 1rem;
  width: 385px;
  height: 500px;
  margin-left: 88px;
}
.card-2 {
  background-color: #f3f3f3;
  border-radius: 1rem;
  width: 385px;
  height: 500px;
}
.card-3 {
  background-color: #f3f3f3;
  border-radius: 1rem;
  width: 385px;
  height: 500px;
}
.now, 
.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25); 
  transition: .4s;
}
.card-image {
  background-size: cover; 
  padding-bottom: 66.66666667%; 
  border-radius: 1rem 1rem 0 0; 
}
.card-description{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
}
.card-title {
  display: flex; 
  justify-content: center;
  column-gap: 1rem;
}
.card-menu {
  text-align: center; 
} */
.member1 {
  float: left;
  width: 32.3%;
  height: 55%;
  margin-right: 1.5%;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 0px 20px #d5d8e0;
}
* {
  padding: 0px;
  margin: 0px;
}
div {
  display: block;
}