::-webkit-scrollbar {
    display: none;
  }
  html, body {
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    font-family: 'Noto Sans KR', sans-serif;
  }
  .logo-a{
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
    color: #FF6686;
  }
  header .head{
    display: flex;
    justify-content: space-between;
  }
  header .logo{
    padding-top: 20px;
    display: flex;
    text-align: center;
    padding: 8px 20px;
  }
  header .menus{
    padding-top: 13px;
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
  }
  .menus li{
    padding: 0px 10px;
  }
  .ins{
    padding-right: 50px;
  }
  img{
    width: 44px;
    height: 44px;
  }
  .titles {
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
}
  .title {
    font-weight: 700;
    font-size: 2.5em;
    line-height: 22mm;
    margin-bottom: 2%;
}
.introduction {
  font-weight: 500;
  font-size: 1.2rem;
}
#title_hr {
    width: 107%;
    height: 3px;
    border-bottom: 0px;
    border-top: 0px;
    margin-bottom: 5%;
    background-color: #FF6686;
}
.member1 {
  float: left;
  width: 20%;
  height: 55%;
  margin-left: 21.2%;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 0px 20px #d5d8e0;
}
.member1 .img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.member1 .name {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 0px 0px 20px 20px;
}
.member1 .name p {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  color: black;
}

.member2 {
  float: left;
  width: 20%;
  height: 55%;
  margin-left: 1%;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 0px 20px #d5d8e0;
}
.member2 .img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.member2 .name {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 0px 0px 20px 20px;
}
.member2 .name p {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  color: black;
}

.member3 {
  float: left;
  width: 20%;
  height: 55%;
  margin-left: 1%;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 0px 20px #d5d8e0;
}
.member3 .img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.member3 .name {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 0px 0px 20px 20px;
}
.member3 .name p {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  color: black;
}

.member4 {
  float: left;
  width: 20%;
  height: 55%;
  margin-left: 21.2%;
  margin-top: 2%;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 0px 20px #d5d8e0;
}
.member4 .img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.member4 .name {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 0px 0px 20px 20px;
}
.member4 .name p {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  color: black;
}

.member5 {
  float: left;
  width: 20%;
  height: 55%;
  margin-left: 1%;
  margin-top: 2%;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 0px 20px #d5d8e0;
}
.member5 .img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.member5 .name {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 0px 0px 20px 20px;
}
.member5 .name p {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  color: black;
}

.member6 {
  float: left;
  width: 20%;
  height: 55%;
  margin-left: 1%;
  margin-top: 2%;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 0px 20px #d5d8e0;
}
.member6 .img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.member6 .name {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 0px 0px 20px 20px;
}
.member6 .name p {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  color: black;
}

#hakgwa {
  margin-top: 5%;
  font-size: 0.9em;
  color: #FF6384;
}
#name {
  margin-top: 1%;
  font-size: 1.6em;
}