body{
    margin: 0;
}
a{
    text-decoration: none;
    font-size: 25px;
    font-weight: medium;
    color: #000000;
}
.navbar{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 12px;
}
.navbar-menu{
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
}
.navbar-menu{
    list-style: none;
}
.navbar-menu li{
    padding: 8px 80px;
}