body{
    margin: 0;
}
/* a {
    color: #FF6686;
    text-decoration: none;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
}
.nav-logo{
    color: #FF6686;
    font-size: 50px;
    font-weight: bold;
}
.nav-menu li{
    padding: 10px 20px;
}
.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0px;
}
img{
    width: 44px;
    height: 44px;
} */